.body_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 66px);
}
.loader {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0000007a;
}
.loader .MuiCircularProgress-colorPrimary {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
}
